#about {
  display: flex;
  align-items: center;

  h1 {
    font-size: 40px;
    line-height: 1.4em;

    .green {
      color: #009A47;
    }
  }
}


#contact {
  display: flex;
  .text-content {
    width: 40%;
  }
  h2 {
    margin-bottom: 50px;
  }
  .social-icons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    svg {
      color: #8E8E8E;
      width: 28px;

      &:hover {
        color: #009A47;
      }
    }
  }

  form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input, textarea {
      border: none;
      background: #f4f4f4;
      border-radius: 4px;
      font-size: 18px;
      padding: 16px 12px;
      outline: none;
    }

    textarea {
      height: 110px;
    }

    button {
      padding: 16px 12px;
      color: white;
      background-color: #009A47;
      font-size: 18px;
      border: none;
      box-sizing: border-box;
      width: 110px;
      border-radius: 4px;
      float: right;
    }
  }
}