
:root {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1360px;
  margin: auto;

  section {
    min-height: 700px;
    padding-block: 80px;
    padding-inline: 80px;
    box-sizing: border-box;
    opacity: 0;
    filter: blur(5px);
    transition: all .3s ease-in;
    &:nth-child(odd) {
      transform: translateX(-100px);      
    }
    &:nth-child(even) {
      transform: translateY(100px);
    }


    &.show {
      opacity: 1;
      filter: blur(0);
      &:nth-child(odd) {
        transform: translateX(0);      
      }
      &:nth-child(even) {
        transform: translateY(0);
      }
  
    }

    .text-content {
      max-width: 700px;
    }

    .graphics {
      width: 50%;
      text-align: center;
    }

    h1, h2 {
      margin-bottom: 30px;
    }
    h2 {
      font-size: 38px;
      font-weight: 500;
    }
    p {
      margin-bottom: 20px;
      font-weight: 500;
      line-height: 1.7em;
    }
  }

  section:nth-child(even) {
    background-color: #F4F4F4;
  }
}