

.tab-container {
  display: flex;
  margin-block: 50px;
  position: relative;

  .active-indicator {
    display: block;
    width: 3px;
    border-radius: 2px;
    height: 70px;
    background: black;
    position: absolute;
    left: -1px;
    top: 0;
    transition: .2s top ease-out;
    z-index: 1;
  }

  .tab-header {
    display: flex;
    border-left: 1px solid #f4f4f4;
    flex-direction: column;
    width: 270px;
  }
  
  .tab-header li {
    display: flex;
    align-items: center;
    gap: 22px;
    padding-block: 16px;
    padding-inline: 20px;
    position: relative;
    height: 70px;
    box-sizing: border-box;
    cursor: pointer;

    &.active {
      background-color: #f4f4f4;
      color: black;
      font-weight: 600;
      letter-spacing: 1px;
    }

    &:hover {
      background-color: #f4f4f4;
    }

    .year {
      display: block;
      letter-spacing: 2px;
      padding-top: 5px;
      color: #595959;
      font-size: 14px;
    }

    img {
      width: 30px;
    }

    // &.active::before {
    //   content: '';
    //   display: block;
    //   width: 3px;
    //   border-radius: 2px;
    //   height: 100%;
    //   background: black;
    //   position: absolute;
    //   left: -2px;
    //   top: 0;
    // }
  }
  
  .tab-contents {
    flex: 1;
  }
  
  .tab-content {
    padding-block: 50px;
    padding-inline: 50px;
    background-color: #f4f4f4;
    display: none;
    min-height: 100%;
    box-sizing: border-box;

    &.active {
      display: block;
    }
  }
}