nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-inline: 80px;
  border-bottom: 1px solid #D8D8D8;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
  }
  a, svg {
    color: black;
    cursor: pointer;
    
    &:hover, &:active {
      color: #009a47;
    }
  }
  li {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-inline: 30px;
    position: relative;
    justify-content: center;

    &.active {
      background-color: #f4f4f4;
    }
  }

  // li::after {
  //   content: ' ';
  //   display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 4px;
  //   bottom: -2px;
  //   background-color: black;
  //   border-radius: 4px;
  //   opacity: 0;
  //   transition: all .1s ease-in;
  // }
  // li.active::after {
  //   opacity: 1;
  // }

  .nav-active-indicator {
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -2px;
    opacity: 0;
    background-color: gray;
    border-radius: 4px;
    transition: all .1s ease-in-out;
  }
}